.row.col-xs-12
  %h1
    = @play.game.name
    %small
      = time_ago_in_words @play.created_at
      ago

.row.col-xs-12
  %h2
    by
    = @play.user.username

.row.col-xs-12
  %p= sanitize @play.description

.row.col-xs-12
  %h3
    Playing with
    %small
      = pluralize @play.players.count, 'player'

.row.col-xs-12
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th User
    %tbody
      - for player in @play.players
        %tr
          %td= player.username
