.row.col-xs-12
  %h1
    = @user.username

.row.col-xs-12
  %h2 All plays

.row.col-xs-12
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Game
        %th.col-xs-1 Plays
        %th.col-xs-2 First Played
        %th.col-xs-2 Last Played

    %tbody
      - for game in @user.played_games
        - plays = @user.plays.where(game: game)
        %tr.game{ id: dom_id(game) }
          %td= link_to game.name, game
          %td= plays.count
          %td
            = time_ago_in_words plays.last.created_at
            ago
          %td
            = time_ago_in_words plays.first.created_at
            ago
