.row-fluid
  %table.table.table-striped.table-bordered

    %thead
      %tr
        %th Username
        %th Total plays
        %th Unique games
        %th Friends
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.username
          %td= link_to user.plays.count, user
          %td= link_to user.games.uniq.count, [user, :games]
          %td= user.friends.count
          %td
            - unless current_user == user || current_user.friends.include?(user)
              = link_to 'Add Friend', friendships_path(friend_id: user), :method => :post
