.row-fluid.col-sm-12
  %h1
    = @user.username

.row-fluid.col-sm-12
  %h2 Recent plays

.row-fluid.col-sm-12
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col-sm-4 Game
        %th.col-sm-6 Comment
        %th.col-sm-2 Played
        %th.col-sm-2 User Rating
        %th.col-sm-2 Avg. Rating
        %th.col-sm-2

    %tbody
      - for play in @user.plays.recent
        %tr.play{ id: dom_id(play) }
          %td= link_to play.game.name, play.game
          %td= play.description
          %td
            = link_to play do
              = time_ago_in_words play.created_at
              ago
          %td= play.rating.to_i
          %td= play.game.avg_rating
          %td
            - if can? :destroy, play
              = button_to 'Delete', play_path(play), :method => :delete, data: { confirm: 'are you sure you want to delete this play?' }, class: 'btn btn-danger'
