.row.col-xs-12
  %h1
    = @user.username

.row.col-xs-12
  %h2 Recent plays

.row.col-xs-12
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Game
        %th.col-xs-6 Check in
        %th.col-xs-2 Played

    %tbody
      - for play in @user.plays.recent
        %tr.play{ id: dom_id(play) }
          %td= link_to play.game.name, play.game
          %td= play.description
          %td
            = link_to play do
              = time_ago_in_words play.created_at
              ago
