- title 'Home'

.row-fluid.col-sm-12
  .jumbotron
    %h1
      Meeples
      %small Rails Rumble 2014

    %p
      An easy way for you to record what game you're playing now! Tag friends and record
      who won so there's never a champion dispute that can't be solved.

      .text-right= image_tag 'https://d4nnn7wspfa3h.cloudfront.net/rails-rumble-badge-light.png'

- unless user_signed_in?
  .row-fluid.col-sm-12
    .col-sm-6
      %h2 New Users
      = link_to 'Sign in with Github',   user_omniauth_authorize_path(:github),   class: 'btn btn-block btn-warning'
      = link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook), class: 'btn btn-block btn-primary'
      = link_to 'Sign up',               new_user_registration_path,              class: 'btn btn-block btn-default'

    .col-sm-6
      %h2 Existing users
      = link_to 'Sign in', new_user_session_path, class: 'btn btn-block btn-success'
