%row.col-lg-12
  %h1 Listing games

%row.col-lg-12
  %p
    = form_for :search, method: 'get', url: games_path do |f|
      .input-group
        = f.text_field :game_name, autofocus: true, class: 'form-control', value: params[:search][:game_name]

        .input-group-btn
          = f.submit :search, class: 'btn btn-warning'
          - if params[:search].any?
            = link_to 'view all', [:games], class: 'btn btn-primary'

%row.col-lg-12
  %table.table.table-bordered.table-striped
    %tr
      %th Name
      %th Year

    - for game in @games
      %tr{ id: dom_id(game) }
        %td= link_to game.name, game
        %td= game.year_published

.row.col-sm-12
  .text-center= paginate @games
