%row.col-lg-12
  %h1 All Games

%row.col-lg-12
  %p
    = form_for :search, method: 'get', url: games_path do |f|
      .input-group
        = f.text_field :game_name, autofocus: true, class: 'form-control', value: params[:search][:game_name]

        .input-group-btn
          = f.submit :search, class: 'btn btn-warning'
          - if params[:search].any?
            = link_to 'view all', [:games], class: 'btn btn-primary'

%row.col-lg-12
  %table.table.table-bordered.table-striped
    %tr
      %th Name
      %th.col-sm-1 Year
      %th.col-sm-1 Plays
      %th.col-sm-1 Rating

    - for game in @games
      %tr{ id: dom_id(game) }
        %td= link_to game.name, game
        %td= game.year_published
        %td= game.plays.count
        %td= game.avg_rating

.row-fluid.col-sm-12
  .text-center= paginate @games

.row-fluid.col-sm-12
  Don't see the game you are looking for?
  = link_to 'Add it to the site so others can find it too.', new_game_path
