.row-fluid
  .col-sm-12
    %h2
      New Game

= simple_form_for @game do |f|
  .row-fluid
    .col-sm-9
      = f.input :name, autofocus: true

    .col-sm-3
      = f.input :year_published

  .row-fluid
    .col-sm-12
      = f.submit 'Add game', class: 'btn btn-success'
      = link_to 'back to games', games_path
