.row-fluid.col-sm-12
  %h1
    = link_to games_path, class: 'btn btn-lg' do
      %span.glyphicon.glyphicon-chevron-left
    %span= @game.name
    %small= @game.year_published
  %h4
    %small
      = @game.avg_rating
      average rating

.row-fluid.col-sm-12
  %p
    %small
      View on
      = link_to 'StackExchange', @game.stack_exchange_link, target: '_blank'
      - if @game.bgg_type
        |
        = link_to 'BoardGameGeek', @game.bgg_link, target: '_blank'

.row-fluid.col-sm-12
  %p= link_to "I'm playing this", [:new, @game, :play], class: 'btn btn-success'

- if @plays.any?
  .row-fluid.col-sm-12
    %h2
      Everyone's games
      %small
        this game has been played
        = pluralize @plays.count, 'time'
        by
        = pluralize @game.users.count, 'person'

  .row-fluid.col-sm-12
    %table.table.table-bordered.table-striped.plays
      %thead
        %tr
          %th Username
          %th.col-sm-6 Comment
          %th.col-sm-1 Players
          %th.col-sm-2 Played

      %tbody
        - for play in @plays
          %tr.play{ id: dom_id(play) }
            %td= link_to play.user.username, play.user
            %td= play.description
            %td= play.players.count
            %td
              = link_to play do
                = time_ago_in_words play.created_at
                ago

  .row-fluid.col-sm-12
    .text-center= paginate @plays

- if current_user and current_user.recently_viewed
  .row-fluid.col-sm-12
    %h2 Recently Viewed
  .row-fluid
    - for recent in current_user.recently_viewed
      - game = Game.find_by_id recent['game_id']
      .col-xs-3.col-md-2
        .thumbnail
          .caption
            %h5= recent['game_name']
            %p= pluralize game.plays.count, 'play'
            %p
              = game.avg_rating
              avg rating
            %p
              = link_to 'view', game_path(recent['game_id']), class: 'btn-sm btn-info'

- if current_user && !@game.flagged_by?(current_user)
  .row-fluid.col-sm-12
    %p
      See something wrong or inappropriate?
      = link_to 'Flag Game', new_game_flag_games_path(@game)
