.navbar.navbar-default.navbar-fixed-bottom
  .container-fluid
    .navbar-text.visible-lg
      &copy; 2014 Meepl.es

    .navbar-text.visible-md.visible-lg
      There are #{ pluralize Game.count, 'game' }.
      There are #{ pluralize User.count, 'user' }.
      #{ pluralize Play.unique_users, 'person' } have played #{ pluralize Play.unique_games, 'game' }.

    .navbar-text.pull-right
      You can
      = link_to 'vote for us', "http://railsrumble.com/?view=#{ root_url }"
      in the
      = link_to '2014 Rails Rumble!', 'http://railsrumble.com/'
